@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300;400;700&display=swap');

$fonts-headline: Cinzel, serif;
$fonts-body: Lato, Verdana, Arial, sans-serif;
$background-color: #daede2;
$primary: #dbc2cf;
$accent1: #9fa2b2;
$accent2: #3c7a89;
$accent3: #16262e;
$accent4: #2e4756;
$grey-sidebar: #16262e;
$text-dark: #333;
$text-light: #fff;
