@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300;400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Cinzel:regular);
@import url(https://fonts.googleapis.com/css?family=Lato:regular,bold);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$fonts-headline: 'Cinzel', serif;
$fonts-h3: 'Press Start 2P', cursive;
$fonts-body: Lato, Verdana, Arial, sans-serif;
$background-color: #daede2;
$primary: #dbc2cf;
$background-article: rgb(161, 177, 186, 0.5);
$accent2: #3c7a89;
$accent3: #16262e;
$accent4: #2e4756;
$grey-sidebar: #16262e;
$text-dark: #333;
$text-light: #fff;

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}
