@keyframes astronaut {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
