@keyframes astronaut {
  // First pass
  0% {
    transform: translateX(calc(-50vw - 100px)) rotate(0deg);
    visibility: visible;
  }
  24.7% {
    transform: translateX(calc(50vw + 100px)) rotate(60deg);
    visibility: visible;
  }
  24.8% {
    transform: translateX(calc(50vw + 100px));
    visibility: hidden;
  }
  24.9% {
    transform: translateX(calc(-50vw - 100px));
    visibility: hidden;
  }
  25% {
    transform: translateX(calc(-50vw - 100px)) rotate(90deg);
    visibility: visible;
  }
  // Second pass
  49.7% {
    transform: translateX(calc(50vw + 100px)) rotate(150deg);
    visibility: visible;
  }
  49.8% {
    transform: translateX(calc(50vw + 100px));
    visibility: hidden;
  }
  49.9% {
    transform: translateX(calc(-50vw - 100px));
    visibility: hidden;
  }
  50% {
    transform: translateX(calc(-50vw - 100px)) rotate(180deg);
    visibility: visible;
  }
  // Third pass
  74.7% {
    transform: translateX(calc(50vw + 100px)) rotate(240deg);
    visibility: visible;
  }
  74.8% {
    transform: translateX(calc(50vw + 100px));
    visibility: hidden;
  }
  74.9% {
    transform: translateX(calc(-50vw - 100px));
    visibility: hidden;
  }
  75% {
    transform: translateX(calc(-50vw - 100px)) rotate(270deg);
    visibility: visible;
  }
  // Fourth pass
  99.7% {
    transform: translateX(calc(50vw + 100px)) rotate(330deg);
    visibility: visible;
  }
  99.8% {
    transform: translateX(calc(50vw + 100px));
    visibility: hidden;
  }
  99.9% {
    transform: translateX(calc(-50vw - 100px));
    visibility: hidden;
  }
  100% {
    transform: translateX(calc(-50vw - 100px)) rotate(0deg);
    visibility: visible;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
