@use 'modern-css-reset';
@use 'variables' as *;
@use 'elements';
@use 'animations';

body {
  font-family: Lato, sans-serif;
  margin: 0;
  color: $text-light;
  font-size: x-large;
}

// Astronaut
.benefits::after {
  content: url('./Img/Astronauts-removebg-preview.png');
  position: absolute;
  transform: translateY(20px);
  animation: astronaut 10s infinite linear, wiggle 3s infinite linear;
  left: -50vw;
}

.benefits {
  margin-bottom: 150px;
}

h1,
h2,
h3 {
  font-family: $fonts-headline;
  // font-variation-settings: 'wght' 3000;
}

.page-wrapper {
  padding: 5px;
  background-image: url('./Img/stars-background.jpeg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
  margin-inline: auto;
  & > [role='article'] {
    background-color: $background-article;
    width: 100%;

    > * {
      padding: 5px 10px;
    }
    p::first-letter {
      font-size: xx-large;
    }
    h3 {
      background-color: #2e4756;
      font-family: $fonts-h3;
    }
  }
}
