@use 'modern-css-reset';
@use 'variables' as *;
@use 'base';
@use 'elements';
@use 'animations';

body {
  font-family: Lato, sans-serif;
  margin: 0;
  color: $text-light;
  font-size: x-large;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: $fonts-headline;
}

p {
  line-height: 1.8;
}

a {
  color: $dark-pink;
}

abbr {
  text-decoration: none;
}

h1 {
  background-image: linear-gradient(
    -225deg,
    $accent1 0%,
    $accent2 15%,
    $accent3 35%,
    $accent4 50%,
    $accent3 65%,
    $accent2 85%,
    $accent1 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}

footer {
  padding: 10px 30%;
  display: flex;
  justify-content: space-around;
  background-color: black;
}
