@use 'variables' as *;
@use 'elements';
@use 'animations';

body {
  margin: 0;
  color: $text-light;
  font-size: x-large;
}

// Not working
// .intro * {
//   z-index: 2;
// }

.page-wrapper {
  padding: 5px;
  background-image: url('./Img/stars-background.jpeg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
