@use '../variables' as *;

.main {
  display: flex;
  flex-direction: column;
  gap: var(--s3);

  > [role='article']:nth-child(-n + 3) {
    // background-color: #c2d0d8;
    background-color: $background-article;
    @supports (backdrop-filter: blur(1px)) {
      backdrop-filter: blur(5px);
    }
    order: -2;

    width: 100%;
    max-width: 50rem;
    margin-inline: auto;
    border-radius: 2px 4px 2px 4px;
    overflow: hidden;

    > * {
      padding: 5px 10px;
    }
    p::first-letter {
      font-size: xx-large;
    }
    h3 {
      background-color: #2e4756;
      font-size: 1.8rem;
      padding: 0.3rem 1rem;
    }

    p {
      font-size: 1.2rem;
      margin: 0.6rem 1rem 1rem;
      padding: 0;
      color: white;
    }
  }
}
