@use '../variables' as *;

.requirements {
  // Fade to black where the atmosphere image starts to come in
  background-image: linear-gradient(to bottom, transparent, black 400px);

  display: grid;
  max-width: 100vw;
  min-width: 0;
  grid-template-areas:
    'header header header'
    'top    top    top'
    'left   middle right'
    'left   bottom bottom'
    'footer footer footer';
  gap: var(--s3);
  isolation: isolate;
  font-size: var(--s1);

  h3::before {
    content: url(Img/atmosphere.png);
    grid-area: image;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100vw;
    object-fit: contain;
    object-position: center;
    flex: 1 1 auto;
  }

  h3 {
    grid-area: header;
    text-align: center;
    font-size: var(--s3);
  }

  p:nth-of-type(1) {
    grid-area: top;
  }

  p:nth-of-type(2) {
    grid-area: left;
  }

  p:nth-of-type(3) {
    grid-area: right;
    align-self: center;
  }

  p:nth-of-type(4) {
    grid-area: bottom;
  }

  p:nth-of-type(5) {
    grid-area: footer;
  }

  &::before {
    content: url(Img/window.jpg);
    grid-area: middle;
    animation: spin 40s infinite linear;
    z-index: -1;
  }

  &::after {
    // content: url(Img/window.jpg);
    grid-area: middle;
    // animation: spin 40s infinite linear;
    z-index: -1;
  }

  p {
    text-align: justify;
    max-width: 60ch;
    margin-inline: auto;
    padding-inline: var(--s2);
  }
}
