.wrapper {
  padding-top: 50px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
  justify-content: space-around;
  background-image: linear-gradient(black, transparent 100px),
    url(Img/footer_background.jpeg);
  background-size: cover;
  background-position: center;
  > * {
    text-align: center;
    overflow: hidden;
    h3 {
      margin-top: 50px;
    }
    @media screen and (min-width: 1000px) {
      height: calc(var(--s2) + 50px);
      & {
        margin-bottom: 100px;
        transition: 3s ease;
        &::first-line {
          font-size: var(--s1);
        }
        ul {
          padding: 0;
        }
        @media screen and (min-width: 1000px) {
          font-size: var(--s0);
        }
      }
      &:hover {
        height: 400px;
      }
    }
    li {
      list-style: none;
    }
  }
}
