@forward 'cards';
@forward 'requirements';

header {
  margin-bottom: 80px;
}

header h1,
header h2 {
  text-align: right;
  margin-right: 10%;
}

header h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

header h2 {
  margin-top: 10px;
}

.summary {
  background-color: #0e171c;
  opacity: 80%;
  padding: 40px 0 40px 0;
}
.summary p {
  text-align: center;
  margin: 0 15%;
}
.summary p:nth-child(2) {
  margin-top: 10px;
}

a {
  color: white;
}
.preamble {
  text-align: center;
  margin: 40px 15%;
}
