@forward 'cards';
@forward 'requirements';
@forward 'sidebar';
@forward 'astronaut';

.summary {
  position: relative;
  background-color: #0e171c;
  opacity: 80%;
  padding: 40px 0 40px 0;
}
.summary p {
  text-align: center;
  margin: 12px 10%;
}
.summary p:nth-child(2) {
  margin-top: 10px;
}

a {
  color: white;
}
.preamble {
  width: 800px;
  text-align: center;
  // margin: 40px 15%;
  margin: 40px auto;
}
