@forward 'cards';
@forward 'requirements';
@forward 'sidebar';
@forward 'astronaut';

.summary {
  position: relative;
  font-size: var(--s0);
  margin-inline: var(--s-2);
  opacity: 80%;
  padding: 40px 0 40px 0;
  font-style: italic;
}
.summary p {
  text-align: center;
}
.summary p:nth-child(2) {
  margin-top: 10px;
}

a {
  color: white;
}
.preamble {
  width: 800px;
  text-align: center;
  // margin: 40px 15%;
  margin: 40px auto;
}
